.btn {
    /* background-color: rgb(179, 12, 12);
    color: #11122b;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid #11122b;
    border-radius: 15px;
    outline: none;
    transition: 0.3s; */

    background-color: #11122b;
    color: #cbcbcb;
    font-size: 1.25em;
    padding: 8px 20px;
    border: 1px solid #11122b;
    border-radius: 35px;
    outline: none;
    transition: 0.3s;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.4)
    
    
}

.btn:active {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.center-btn-wrapper {
    display: flex;
    justify-content: center;
}










#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    font-size: 20px;
    background-color: #1877F2; /* Facebook blue or your theme color */
    color: #cbcbcb;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: none;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

#backToTop:hover {
    background-color: #11122b; /* matches your footer color */
}






























.social-media-icons-wrapper {
  position: fixed;
  bottom: 65px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  z-index: 1000;
}

.social-toggle {
  background-color: #1877F2;
  color: #cbcbcb;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 1s ease;
}

.social-media-icons-wrapper.active .social-icons {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.social-icons a img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.social-icons a img:hover {
  transform: scale(1.2);
}










