.footer {
    background-color: #11122b;
    color: #cbcbcb;
    font-family: "Ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 230px;
    margin-top: -4px;
}


.footer > .links-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
}

.footer > .social-media-icons-wrapper {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.footer > .social-media-icons-wrapper a {
    /* font-size: 1.5em;
    color: #cbcbcb;
    transition: 0.5s; */

    font-size: 1.5em;
    color: #cbcbcb;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #cbcbcb;
    box-shadow: 0 0 10px #cbcbcb;
    text-decoration: none;
    text-align: center;
    padding: 10px

}

.footer > .social-media-icons-wrapper a:hover {
    color: rgb(179, 12, 12);
}

.footer > .copyright-wrapper {
    margin-bottom: 20px;
    font-size: 0.7em;
    color: #858585;
}